<%= form_with  model: @question, local: true do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.collection_select :id, User.all, :user_id, :email,
                            class: "form-control",
                            prompt: "user Select" %>
  </p>

  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question, class: "form-control" %>
  </p>


  <p>
    <%= f.submit 'Guardar', :class => 'btn btn-outline-primary btn-sm' %>
  </p>



<% end %>