<%= form_with model: [@survey, @question], local: true do |f| %>
  <div>
    <%= f.label :question %>
    <%= f.text_field :question, class: "form-control" %>
  </div>

  <p>
    <%= f.label :survey_id %><br>
    <%= f.collection_select :survey_id, Survey.order(:survey_name).all, :id, :survey_name,
                             class: "form-control",
                             prompt: "Select Survey Name"
    %>
  </p>
  <p>
    <%= f.submit 'Guardar', :class => 'btn btn-outline-primary btn-sm' %>
    <%= link_to 'Cancel', survey_questions_path(@survey), class: 'btn btn-outline-secondary btn-sm' %>
  </p>

<% end %>
