<div class="container">
  <br><br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Question</th>
      <th>Survey Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.survey.survey_name %></td>

        <td>
          <%= link_to 'Edit', :class => 'btn btn-outline-warning btn-sm' %>
        </td>

        <td>
          <%= link_to 'Destroy',
                      method: :delete,
                      data: { confirm: 'Are you Sure?' },
                      :class => 'btn btn-outline-danger btn-sm'
          %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>
  <br>


  <%= link_to 'New Verified', new_survey_questions_path(@survey), :class => 'btn btn-outline-primary btn-sm' %>

</div>