<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">    
        <%= form.label :commenter %>
        <%= form.text_field :commenter, :class => 'form-control' %>
      </th> 

    </tr>

    <tr>
      <th scope="col">
        <%= form.label :body %>
        <%= form.text_area :body, :class => 'form-control' %>
      </th>
    </tr>

    <tr>
      <th>
          <%= form.submit "Save Comment", :class => 'btn btn-outline-primary btn-sm' %>
      </th>
    </tr>

  </thead>
 
</table>
    <p>
      
    </p>
<% end %>

