
   <%= simple_form_for @article, url: articles_path do |form| %>
 
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
     
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title, :class => 'form-control' %>
      </p>
     
      <p>
        <%= form.label :text %><br>
        <%= form.text_area :text, :class => 'form-control' %>
      </p>

      <p>
      

       <%= form.input :category_ids, as: :select, collection: Category.order(:name), 
          label_method: :name, input_html: {multiple: true} %> 
        
          
      </p>
     
      <p>
        <%= form.submit 'Guardar', :class => 'btn btn-outline-primary' %>
      </p>
     
    <% end %>
    
    </p>
   
  