<div class = "container">

<center><h1>Listing Articles</h1></center>
 
<%= link_to 'New article', new_article_path, :class => 'btn btn-outline-primary' %>

<br><br>

<div class="row">
  <% @article.each do |article| %>
    <div class="col-sm">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">

      <b>Title: </b> <%= article.title %>
      <br>
      <b>Message: </b> <%= article.text %>
      <br><br>
      <%= link_to 'Show', article_path(article), :class => 'btn btn-outline-primary' %>
      <%= link_to 'Show', article_path(article), :class => 'btn btn-outline-warning' %>
      <%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
    </p>
    
  </div>
</div>
<br>
</div>
<% end %>
</div>

</div>




