

<div class="card">
  <div class="card-body">
        
        <p>
            <strong>Title:</strong>
            <%= @article.title %>
        </p>
        
        <p>
            <strong>Text:</strong>
            <%= @article.text %>
        </p>

        <p>
           

            <div class="list-group">
            
            <% if @article.attachments? %>
  
              <% @article.attachments.each do |attachment| %>
                <a>
                    <%=  link_to(image_tag(attachment.url), attachment.url, target: '_blank', 
                        :class=> 'list-group-item list-group-item-action')%>
                </a>
              <% end %>
            
          <% end %>
            </div>
            
        </p>
  
    
        <div class="card">
            <div class="card-header">
                <h2>Comments <%= @article.comments.size %></h2>
            </div>
            <div class="card-body">

                
                <h2>Comments</h2>
                <%= render @article.comments %>
                
                <h2>Add a comment:</h2>
                <%= render 'comments/form' %>

            
            </div>
           
        </div><br>
        <%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-outline-primary btn-sm' %> |
        <%= link_to 'Back', articles_path, :class => 'btn btn-outline-success btn-sm' %>         
    </div>
</div>