

<div class="card">
  <div class="card-body">
        
        <p>
            <strong>Title:</strong>
            <%= @article.title %>
        </p>
        
        <p>
            <strong>Text:</strong>
            <%= @article.text %>
        </p>

        <p>
           

            <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action active"></a>
            <% if @article.attachments? %>
            <ul>
              <% @article.attachments.each do |attachment| %>
                <li>
                    <%=  link_to(image_tag('~/assets/images/pdf.png',  attachment.url), attachment.url, target: '_blank')%>
                </li>
              <% end %>
            </ul>
          <% end %>
            
            </ul>
        </p>
  
    
        <div class="card">
            <div class="card-header">
                <h2>Comments <%= @article.comments.size %></h2>
            </div>
            <div class="card-body">

                
                <h2>Comments</h2>
                <%= render @article.comments %>
                
                <h2>Add a comment:</h2>
                <%= render 'comments/form' %>

            
            </div>
           
        </div><br>
        <%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-outline-primary btn-sm' %> |
        <%= link_to 'Back', articles_path, :class => 'btn btn-outline-success btn-sm' %>         
    </div>
</div>