<%= form_with  model: @answer, local: true do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@answer.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.collection_select :id, Question.all, :question_id, :question,
                            class: "form-control",
                            prompt: "Question Select" %>
  </p>

  <p>
    <%= f.label :response %><br>
    <%= f.text_field :response, class: "form-control" %>
  </p>


  <p>
    <%= f.submit 'Guardar', :class => 'btn btn-outline-primary btn-sm' %>
  </p>



<% end %>