<%= form_for  @survey, local: true do |form| %>

  <div>
    <%= form.label :survey_name %>
    <%= form.text_field :survey_name, class: "form-control" %>
  </div>

  <p>
    <%= form.label :survey_desc %><br>
    <%= form.text_area :survey_desc, class: "form-control" %>
  </p>

  <div class="form-group">
    <h4>Add Questions: </h4>
    <%= form.fields_for :questions do |question| %>
      <%= render 'questions', form: question %>
    <% end %>
  </div>

  <%= link_to_add_association 'Add Question', form, :questions %>

  <p>
    <%= form.submit 'Save', class: 'btn btn-outline-primary btn-sm' %>
  </p>

<% end %>
