<div class="container">
  <br><br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Survey Name</th>
      <th>Survey Description</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.answer.response %></td>
        <td><%= survey.survey_name %></td>
        <td><%= survey.survey_desc %></td>
        <td>
          <%= link_to 'Show', survey_path(survey), :class => 'btn btn-outline-primary btn-sm' %>
        </td>

        <td>
          <%= link_to 'Edit', edit_survey_path(survey), :class => 'btn btn-outline-warning btn-sm' %>
        </td>

        <td>
          <%= link_to 'Destroy', survey_path(survey),
                      method: :delete,
                      data: { confirm: 'Are you Sure?' },
                      :class => 'btn btn-outline-danger btn-sm'
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New survey', new_survey_path, :class => 'btn btn-outline-primary btn-sm' %>

</div>