
<p>
  <strong>Answer:</strong>
  <%= @survey.answer.response %>
</p>

<p>
  <strong>Survey Name:</strong>
  <%= @survey.survey_name %>
</p>

<p>
  <strong>Survey Description:</strong>
  <%= @survey.survey_desc %>
</p>


<%= link_to 'Edit', edit_survey_path(@verified) %> |
<%= link_to 'Back', surveys_path %>