<%= form_with(model: [@survey, @question, @answer_option], local: true) do |form| %>

  <div>
    <%= form.label :text %>
    <%= form.text_field :text, class: "form-control" %>
  </div>

  <p>
    <%= form.label :question_id %><br>
    <%=
      form.collection_select :question_id, Question.all, :id, :question,
                             prompt: "Select Question", class: "forml-control"
    %>
  </p>
  <p>
    <%= form.submit 'Save', class: 'btn btn-outline-primary btn-sm'  %> |
    <%= link_to 'Cancel', survey_question_answer_options_path(@question), class: 'btn btn-outline-secondary btn-sm' %>
  </p>



<% end %>
